<div class="row">
    <div class="col-md-2">
        <label ng-click="personTable.toggleOrder('firstname')">First Name</label>
    </div>
    <div class="col-md-2">
        <label ng-click="personTable.toggleOrder('lastname')">Last Name</label>
    </div>
    <div class="col-md-2">
        <label ng-click="personTable.toggleOrder('phone')">Phone Number</label>
    </div>
    <div class="col-md-4">
        <label ng-click="personTable.toggleOrder('address')">Address</label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <input type="text" class="form-control" ng-model="search" placeholder="search">
    </div>
</div>
<div class="row" ng-repeat="person in personArray | filter:search | orderBy:personTable.sortBy:personTable.sortOrder">
    <div class="col-md-2">
        {{person.firstname}}
    </div>
    <div class="col-md-2">
        {{person.lastname}}
    </div>
    <div class="col-md-2">
        {{person.phone}}
    </div>
    <div class="col-md-2">
        {{person.address}}
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-info" ng-click="personForm.displayConsole(person.personinfoid)">Display</button>
    </div>
</div>

<!--
<ol>
    <li ng-repeat="person in personArray">{{person.lastName}}, {{person.firstName}}</li>
</ol>-->
